*.o
*.swp
work
*.swo
controleur_video/ips/Qsys/soc_system
controleur_video/ips/Qsys/soc_system.sopcinfo
db
*.qpf
*.qsf
controleur_video/SoCFPGA/syn/.create_project
controleur_video/SoCFPGA/syn/c5_pin_model_dump.txt
controleur_video/SoCFPGA/syn/incremental_db
controleur_video/SoCFPGA/syn/hps_isw_handoff
controleur_video/SoCFPGA/syn/Top.srf
controleur_video/SoCFPGA/syn/hps_sdram_p0_summary.csv
controleur_video/SoCFPGA/syn/output_files
controleur_video/SoCFPGA/syn/syn.log
